@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');

/* CSS */
.bubble-label {
    text-align: center;
    font-family: Roboto, Arial;
    font-weight: 400;
    line-height: 1.2;
    cursor: default;
    user-select: none;
}
.bubble-value {
    color: rgba(255,255,255,0.8);
    font-weight: 300;
    cursor: default;
    user-select: none;
}


text {
    fill: #fff;
    transition: all 0.3s;
    text-overflow: ellipsis;
}

.label {
    fill: #000;
}

.chart {
    margin: 0 auto;
    max-width: 675px;
    max-height: 675px;
}

.chart-svg {
    width: 100%;
    height: 100%;
}

.node {
    cursor: default;
    user-select: none;
    overflow: hidden;
}
.node circle {
    transition: transform 200ms ease-in-out;
}
.node:hover circle {
    /* transform: perspective(1px) translateZ(0) scale(1.05); */
    /* backface-visibility: hidden; */
    /* border: 10px solid green;
    z-index: 100; */
    /* transform: scale(1.05); */
}



.graph {
    opacity: 0;
    animation-name: animateIn;
    animation-duration: 900ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.7,.85,.41,1.21);
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(-8deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
}


.d3-tip-outer {
    position: relative;
}
.d3-tip {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 1;
    padding: 16px 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 6px;
}
.d3-stem {
    width: 0;
    height: 0;
    position: absolute;
    bottom: -45px;
    left: 55%;
    border-style: solid;
    border-width: 48px 15px 0 0;
    transform: rotate(17deg);
    transform-origin: 100% 0;
    z-index: 2;
}